div.portada{
    position: fixed;
    left: 20px;
    right: 20px;
    top: 90px;
    width: 97%;
    background-image: url("IMG_5387.jpeg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 145px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
}

img.user3{
    width: 100px;
    margin: 20px;
}

p.titleC{
   
    font-weight: bolder;
    font-size: 30px;
}

p.desc{
    font-weight: 100;
    width: 500px;
    font-size: smaller;
    background-color: #cccccc4d;
    height: 60px;
    text-align: left;
    margin-top: -17px;
}

svg.comment{
    color: #c5c0c0;
    margin-left: 480px;
    margin-top: 100px;
    
  
  }

p.numC{
    color: #DFDDDD;
    float:right;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;
    margin-top: 100px;
}