img.user2{
    width: 115px;
    height: 115px;
    margin-left: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: -15px;
}

div.box1{
    align-items: center;
}