@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rowdies&display=swap');

body{
  background-color: #8cbb0a81;
}

header{
  font-family: 'Roboto';
  padding: 30px;
  height: 20px;
  font-weight:500;
}

header.logo{
  background: #fff;
  font-size: 40px;
  font-family: 'Rowdies', cursive;
}

input.s{
  float: right;
  padding: 6px;
  border: none;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 17px;
  background-color: #ddd;
}

div.center{
  background-color: #fff;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 95%;
  min-height:550px; 
  height: fit-content; 
}

div.greyBox{
  background-color: #F0EFEF;
  float: right;
  width: 35%;
  margin-right: 40px;
  height: 400px;
  margin-top: -150px;  
  
}

p{
  font-family: 'Roboto';
}

textarea{
  outline: none;
  resize: none;
  font-family: 'Roboto';
}